<div class="border-b-2 shadow-xl relative py-10 gap-40 h-96 px-24 font-serif flex ">
    <div class="w-1/2">
        <h1 class="text-4xl pb-4">Build a home for everything that interests you</h1>
        <p class="text-xl pb-4">
            Add the Xircle button to your browser to collect articles, videos, and links from across the web. Use our app to enjoy them on any device in a distraction-free environment.
        </p>
        <button class="border-2 border-solid border-[#50514F] text-[#FDFFF7] px-3 rounded-lg p-1 bg-[#50514f]">
            Sign up
        </button>
    </div>
    <div class="">
        <img class="h-full" src="../assets/xircleHero.jpeg" alt="">
    </div>
</div>