<div class="flex items-center justify-center p-2">
    <img src="" alt="">
    <h3 class="font-serif text-2xl">Xircle</h3>
</div>

<div class="flex shadow-2xl bg-[#B4ADEA] w-full text-[#50514F] items-center p-6 justify-center relative border-2 ">

    <div class="flex">
        <div class="">
            <ul class="flex items-center gap-x-10 text-xl">
                <li class="text hover:border-b-2 border-[#FFED65] cursor-pointer">Home</li>
                <li class="text hover:border-b-2 border-[#FFED65] cursor-pointer">Saves</li>
                <li class="text hover:border-b-2 border-[#FFED65] cursor-pointer">Discover</li>
                <li class="text hover:border-b-2 border-[#FFED65] cursor-pointer">Collections</li>
            </ul>
        </div>

        <div class="right-0 pr-4 flex gap-x-4 absolute">
            <button class="border-2 border-solid text-[#50514F] bg-[#FDFFF7] px-3 rounded-lg p-1 border-[#50514f]">
                Log in
            </button>
            <button class="border-2 border-solid border-[#50514F] text-[#FDFFF7] px-3 rounded-lg p-1 bg-[#50514f]">
                Sign up
            </button>
        </div>
    </div>

</div>